<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="mysqlconn" value="Server=10.10.6.237;Port=3306;Database=etocrm;Uid=developer;Pwd=12345678;convert zero datetime=True"/>
		<add key="sqlconn" value="server=10.10.6.237; database=Zenga; uid=sa; pwd=123;  TimeOut=5000;"/>
		<!--<add key="token" value="7100300630108194"/>正式-->
    <add key="token" value="7100166630217206"/>
	</appSettings>

 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="SMSServiceSoap" />
   </basicHttpBinding>
   <customBinding>
    <binding name="SMSServiceSoap12">
     <textMessageEncoding messageVersion="Soap12" />
     <httpTransport />
    </binding>
   </customBinding>
  </bindings>
  <client>
   <endpoint address="http://www.wemediacn.net/webservice/smsservice.asmx"
    binding="basicHttpBinding" bindingConfiguration="SMSServiceSoap"
    contract="SmsService.SMSServiceSoap" name="SMSServiceSoap" />
   <endpoint address="http://www.wemediacn.net/webservice/smsservice.asmx"
    binding="customBinding" bindingConfiguration="SMSServiceSoap12"
    contract="SmsService.SMSServiceSoap" name="SMSServiceSoap12" />
  </client>
 </system.serviceModel>
</configuration>